<template>
  <div class="d-flex flex-row fill-height">
    <template v-if="selectedListId !== null">
      <div class="ml-10 mt-8">
        <CardList
          :items="listItems"
          @selectedPage="requestPage"
          @orderFilter="orderFilter"
          @sectionFilter="sectionFilter"
          @categoryFilter="categoryFilter"
          @brandFilter="brandFilter"
          :length="nbPage"
          :pageMode="pageMode"
          :itemsPerPage="userItemsPerPage"
          :sections="sections"
          :categories="categories"
          :brands="brands"
        />
      </div>
    </template>
    <template v-else>
      <DrawerList
        title="Mes listes de courses"
        subtitle="Sélectionner la liste à utiliser"
        @selectedListId="setSelectedListId"
        :pageMode="pageMode"
      />
    </template>
  </div>
</template>

<script>
import DrawerList from "@/components/lists/DrawerList.vue";
import CardList from "@/components/lists/CardList.vue";

export default {
  name: "GroceryView",
  components: {
    CardList,
    DrawerList,
  },
  data: () => {
    return {
      listItems: null,
      sections: {},
      categories: {},
      brands: {},
      pageMode: "grocery",
      userItemsPerPage: 12,
      nbPage: 1,
      filters: {
        skip: "0",
        limit: "",
      },
      selectedListId: null,
    };
  },
  created() {
    if (typeof this.$route.params.selectedListId !== "undefined") {
      this.selectedListId = this.$route.params.selectedListId;
      this.getItems();
    }
  },
  methods: {
    getItems() {
      this.filters.limit = this.userItemsPerPage;
      this.$http
        .post(
          `/shopping_items/byShoppingList/${this.selectedListId}/filters`,
          this.filters
        )
        .then((response) => {
          console.log(response);
          this.listItems = [];
          for (const elm in response.data["shopping_items"]) {
            const listItem = response.data["shopping_items"][elm];
            this.listItems.push({
              id: listItem["item"]["id"],
              brand: {
                name: listItem["item"]["brand"]["name"],
              },
              name: listItem["item"]["name"],
              section: {
                name: listItem["item"]["section"]["name"],
                color: listItem["item"]["section"]["color"],
              },
              category: {
                name: listItem["item"]["category"]["name"],
                color: listItem["item"]["category"]["color"],
              },
              quantityShoppingList: listItem["quantity"],
              default_quantity: listItem["item"]["default_quantity"],
              unit: listItem["item"]["unit"],
              expirationDate: listItem["expire_at"],
              img_path: listItem["item"]["img_path"],
            });
          }
          this.nbPage = Math.ceil(
            response.data["nb_total_shopping_item"] / this.userItemsPerPage
          );
          this.sections = response.data.section_list_available;
          this.categories = response.data.category_list_available;
          this.brands = response.data.brand_list_available;
        });
    },
    requestPage(page) {
      console.log("req page ", page);
      this.filters.skip = (page - 1) * this.userItemsPerPage;
      this.getItems();
    },
    orderFilter(selection) {
      console.log(selection);
      var orderBy = [];
      for (let i = 0; i < selection.length; i++) {
        var o = {};
        o.name = selection[i];
        o.order = "ASC";
        orderBy.push(o);
      }
      if (orderBy.length > 0) {
        this.filters.order_by = orderBy;
      } else {
        delete this.order_by;
      }
      this.getItems();
    },
    sectionFilter(value) {
      if (value != null) {
        this.filters.section_id_list = [value];
      } else {
        delete this.filters.section_id_list;
      }
      this.getItems();
    },
    categoryFilter(value) {
      if (value != null) {
        this.filters.category_id_list = [value];
      } else {
        delete this.filters.category_id_list;
      }
      this.getItems();
    },
    brandFilter(value) {
      if (value != null) {
        this.filters.brand_id_list = [value];
      } else {
        delete this.filters.brand_id_list;
      }
      this.getItems();
    },
    setSelectedListId(value) {
      this.selectedListId = value;
      this.getItems();
    },
  },
};
</script>
