<template>
  <v-container>
    <v-row>
      <v-col>
        <InputOutputStockChartCard class="mt-7" />
      </v-col>
      <v-col>
        <WasteChartCard class="mt-7" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import WasteChartCard from "@/components/graph/WasteChartCard.vue";
import InputOutputStockChartCard from "@/components/graph/InputOutputStockChartCard.vue";
export default {
  name: "StatsView",
  components: {
    InputOutputStockChartCard,
    WasteChartCard,
  },
};
</script>
