<template>
  <v-container>
    <!-- Section search -->
    <v-text-field
      v-model="search"
      label="Chercher dans le placard"
      hide-details="false"
      solo
      style="width: 30vw"
      @change="searchItem"
      class="ml-6 mt-5 mb-3"
      clearable
    >
      <template v-slot:append>
        <v-icon @click="searchItem">mdi-magnify</v-icon>
      </template>
    </v-text-field>
    <CardList
      :items="userItems"
      :length="nbPage"
      :pageMode="pageMode"
      :itemsPerPage="userItemsPerPage"
      :sections="sections"
      :categories="categories"
      :brands="brands"
      @selectedPage="requestPage"
      @orderFilter="orderFilter"
      @sectionFilter="sectionFilter"
      @categoryFilter="categoryFilter"
      @brandFilter="brandFilter"
      @expireDateFilter="expireDateFilter"
      @refresh="getUserItems"
    />
  </v-container>
</template>

<script>
import CardList from "@/components/lists/CardList.vue";

export default {
  name: "StockView",
  components: {
    CardList,
  },
  data: () => {
    return {
      response: {},
      userItems: [],
      pageMode: "stock",
      userItemsPerPage: 12,
      nbPage: 1,
      filters: {
        skip: "0",
        limit: "",
        deleted: false,
      },
      currentList: 0,
      search: null,
      sections: {},
      categories: {},
      brands: {},
    };
  },

  mounted() {
    this.getUserItems();
  },
  methods: {
    getUserItems() {
      this.filters.limit = this.userItemsPerPage;
      this.userItems = null;
      this.$http.post("/user_items/filters", this.filters).then((response) => {
        this.userItems = [];
        for (const elm in response.data["user_items"]) {
          const userItem = response.data["user_items"][elm];
          this.userItems.push({
            id: userItem["id"],
            brand: {
              name: userItem["item"]["brand"]["name"],
            },
            name: userItem["item"]["name"],
            section: {
              name: userItem["item"]["section"]["name"],
              color: userItem["item"]["section"]["color"],
            },
            category: {
              name: userItem["item"]["category"]["name"],
              color: userItem["item"]["category"]["color"],
            },
            quantityStock: userItem["quantity"],
            quantityTypeStock: userItem["item"]["unit"]["name"],
            expirationDate: userItem["expire_at"],
            deletedDate: userItem["deleted_at"],
            img_path: userItem["item"]["img_path"],
          });
          this.sections = response.data["section_list_available"];
          this.categories = response.data["category_list_available"];
          this.brands = response.data["brand_list_available"];
        }
        if (this.userItems.length === 0) {
          this.nbPage = 0;
        } else {
          this.nbPage = Math.ceil(
            response.data["nb_total_user_item"] / this.userItemsPerPage
          );
        }
      });
    },
    searchItem() {
      this.filters.search = this.search;
      this.requestPage(1);
    },
    requestPage(page) {
      this.filters.skip = (page - 1) * this.userItemsPerPage;
      this.getUserItems();
    },
    orderFilter(selection) {
      console.log(selection);
      let orderBy = [];
      for (let i = 0; i < selection.length; i++) {
        let o = {};
        o.name = selection[i];
        o.order = "ASC";
        orderBy.push(o);
      }
      if (orderBy.length > 0) {
        for (const elm in orderBy) {
          if (orderBy[elm]["name"] === "default_quantity") {
            orderBy[elm]["name"] = "quantity";
          } else {
            orderBy[elm]["name"] = "item__" + orderBy[elm]["name"];
          }
        }
        this.filters.order_by = orderBy;
      } else {
        delete this.order_by;
      }
      this.getUserItems();
    },
    sectionFilter(value) {
      console.log("Section: ", value);
      if (value != null) {
        this.filters.section_id_list = [value];
      } else {
        delete this.filters.section_id_list;
      }
      this.getUserItems();
    },
    categoryFilter(value) {
      console.log("category: ", value);
      if (value != null) {
        this.filters.category_id_list = [value];
      } else {
        delete this.filters.category_id_list;
      }
      this.getUserItems();
    },
    brandFilter(value) {
      console.log("Brand: ", value);
      if (value != null) {
        this.filters.brand_id_list = [value];
      } else {
        delete this.filters.brand_id_list;
      }
      this.getUserItems();
    },
    expireDateFilter(value) {
      if (value != null) {
        this.filters["expire_at"] = value;
      } else {
        delete this.filters["expire_at"];
      }
      this.getUserItems();
    },
    selectedList(list) {
      this.currentList = list;
      console.log(this.currentList);
    },
  },
};
</script>
