<template>
  <div>
    <v-navigation-drawer v-model="drawer" app temporary class="secondary">
      <v-list-item>
        <v-list-item-avatar>
          <v-btn class="ma-1" outlined fab color="teal">
            <v-img src="@/assets/logo.svg" alt="Logo" contain height="53">
            </v-img>
          </v-btn>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="title">Cellarium</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.link"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-menu
        offset-y
        rounded="b-xl"
        v-if="isAuthenticated"
        style="float: right"
        class="hidden-sm-and-down"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            outlined
            rounded
            color="white"
            class="ma-2 pa-0"
            style="height: auto"
            v-bind="attrs"
            v-on="on"
          >
            <v-avatar color="rgb(0, 0, 0, 0.6)" class="mr-2">
              <v-icon dark> mdi-account </v-icon>
            </v-avatar>
            {{ userName }}
            <v-icon>mdi-chevron-down</v-icon>
          </v-btn>
        </template>
        <v-list dense>
          <v-list-item-group color="primary">
            <v-list-item
              v-for="(item, i) in itemsAccount"
              :key="i"
              link
              :to="item.link"
            >
              <v-list-item-icon>
                <v-icon
                  v-text="item.icon"
                  class="d-flex align-center justify-center"
                ></v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="item.text"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item @click="logout">
              <v-list-item-icon>
                <v-icon class="d-flex align-center justify-center"
                  >mdi-logout</v-icon
                >
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>Se Déconnecter</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>

      <v-btn
        rounded="b-xl"
        color="transparent"
        class="ma-2 white--text"
        light
        style="padding-right: 15px; padding-left: 0px; height: auto"
        offset-y
        v-if="!isAuthenticated"
        to="/account/login"
      >
        <v-avatar color="rgb(0, 0, 0, 0.6)" class="mr-1">
          <v-icon dark> mdi-account </v-icon>
        </v-avatar>
        Connexion
      </v-btn>
    </v-navigation-drawer>

    <v-app-bar
      app
      :flat="flat"
      class="secondary"
      :class="{ expand: flat }"
      style="padding-left: 0px"
    >
      <v-btn color="secondary" elevation="0" to="/" height="60" width="220">
        <v-img src="@/assets/logo.svg" alt="Logo" contain height="50"> </v-img>
      </v-btn>

      <v-spacer></v-spacer>

      <div v-if="!isXs" style="display: contents" class="ma-0 pa-0">
        <div class="ma-5">
          <v-btn
            class="secondary black--text"
            depressed
            height="60"
            to="/items"
          >
            <v-col>
              <v-row style="place-content: center; margin-bottom: -5px">
                <v-icon color="rgb(0, 0, 0, 0.6)"> mdi-food-apple </v-icon>
              </v-row>
              <v-row style="place-content: center">
                <span> Produits </span>
              </v-row>
            </v-col>
          </v-btn>
          <v-btn
            class="secondary black--text"
            depressed
            height="60"
            to="/stock"
          >
            <v-col>
              <v-row style="place-content: center; margin-bottom: -5px">
                <v-icon color="rgb(0, 0, 0, 0.6)"> mdi-fridge </v-icon>
              </v-row>
              <v-row style="place-content: center">
                <span> Placard </span>
              </v-row>
            </v-col>
          </v-btn>
          <v-btn
            class="secondary black--text"
            depressed
            height="60"
            to="/shopping-list"
          >
            <v-col>
              <v-row style="place-content: center; margin-bottom: -5px">
                <v-icon color="rgb(0, 0, 0, 0.6)">
                  mdi-clipboard-text-multiple-outline
                </v-icon>
              </v-row>
              <v-row style="place-content: center">
                <span>
                  Mes listes <br />
                  de courses
                </span>
              </v-row>
            </v-col>
          </v-btn>

          <v-btn
            depressed
            height="60"
            class="ml-5"
            to="/grocery"
            color="#e3f2e1"
            elevation="1"
            outlined
            raised
            rounded
            text
          >
            <v-col>
              <v-row style="place-content: center; margin-bottom: -5px">
                <v-icon color="rgb(23, 82, 15, 0.75)"> mdi-cart </v-icon>
              </v-row>
              <v-row style="place-content: center">
                <span
                  style="display: flex; align-items: center"
                  class="black--text"
                >
                  Faire mes courses
                </span>
              </v-row>
            </v-col>
          </v-btn>
        </div>
        <!-- Section search -->
        <v-text-field
          v-model="search"
          label="Rechercher un produit..."
          filled
          rounded
          hide-details="false"
          style="width: 30vw"
          @change="searchItem"
          class="hidden-md-and-down"
        >
          <template v-slot:append>
            <v-icon @click="searchItem">mdi-magnify</v-icon>
          </template>
        </v-text-field>
      </div>
      <v-app-bar-nav-icon
        @click.stop="drawer = !drawer"
        class="mr-4 text-right"
        v-else
      />
      <!-- <v-spacer></v-spacer> -->
      <!-- Section for identification -->
      <v-menu
        offset-y
        rounded="b-xl"
        v-if="isAuthenticated"
        style="float: right"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            outlined
            rounded
            color="white"
            class="ma-2 pa-0 hidden-sm-and-down"
            style="height: auto"
            v-bind="attrs"
            v-on="on"
          >
            <v-avatar color="rgb(0, 0, 0, 0.6)" class="mr-2">
              <v-icon dark> mdi-account </v-icon>
            </v-avatar>
            {{ userName }}
            <v-icon>mdi-chevron-down</v-icon>
          </v-btn>
        </template>
        <v-list dense>
          <v-list-item-group color="primary">
            <v-list-item
              v-for="(item, i) in itemsAccount"
              :key="i"
              link
              :to="item.link"
            >
              <v-list-item-icon>
                <v-icon
                  v-text="item.icon"
                  class="d-flex align-center justify-center"
                ></v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="item.text"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item @click="logout">
              <v-list-item-icon>
                <v-icon class="d-flex align-center justify-center"
                  >mdi-logout</v-icon
                >
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>Se Déconnecter</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
      <v-btn
        rounded="b-xl"
        color="transparent"
        class="ma-2 white--text"
        light
        style="padding-right: 15px; padding-left: 0px; height: auto"
        offset-y
        v-if="!isAuthenticated"
        to="/account/login"
      >
        <v-avatar color="rgb(0, 0, 0, 0.6)" class="mr-1">
          <v-icon dark> mdi-account </v-icon>
        </v-avatar>
        Connexion
      </v-btn>
    </v-app-bar>
  </div>
</template>

<script>
import { bus } from "@/main";

export default {
  data: () => ({
    drawer: null,
    isXs: false,
    search: "",
    itemsAccount: [
      { text: "Statistique", icon: "mdi-finance", link: "/stats" },
      { text: "Profil", icon: "mdi-account", link: "/account" },
    ],
    items: [
      { title: "Produit", icon: "mdi-food-apple", link: "/items" },
      { title: "Placard", icon: "mdi-fridge", link: "/stock" },
      {
        title: "Mes listes de courses",
        icon: "mdi-clipboard-text-multiple-outline",
        link: "/shopping-list",
      },
      { title: "Faire mes courses", icon: "mdi-cart", link: "/grocery" },
    ],
  }),
  props: {
    color: String,
    flat: Boolean,
  },
  methods: {
    onResize: function () {
      this.isXs = window.innerWidth < 1000;
    },
    logout: function () {
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/account/login");
      });
    },
    searchItem: function () {
      bus.$emit("searchItem", this.search);
      if (this.$route.name !== "ItemsListView") {
        this.$router.push({
          name: "ItemsListView",
          params: { search: this.search },
        });
      }
    },
  },
  watch: {
    isXs(value) {
      if (!value) {
        if (this.drawer) {
          this.drawer = false;
        }
      }
    },
  },
  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
  computed: {
    isAuthenticated: function () {
      return this.$store.getters.isAuthenticated;
    },
    userName: function () {
      return this.$store.getters.getUser.username;
    },
  },
};
</script>

<style scoped>
.v-toolbar {
  transition: 0.6s;
}
.expand {
  height: 80px !important;
  padding-top: 10px;
}

span {
  font-size: 0.85em;
}
</style>
