<template>
  <div>
    <!-- mobile and tablets -->
    <template v-if="$vuetify.breakpoint.mobile">
      <v-expansion-panels>
        <v-expansion-panel>
          <v-expansion-panel-header>
            Filtrez vos produits
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <DropdownFilter
              label="Rayon"
              :items="sections"
              icon="mdi-bookshelf"
              @dropdownEvent="sectionFilter"
              class="pa-3"
            />
            <DropdownFilter
              label="Categorie"
              :items="categories"
              icon="mdi-bookmark-box-multiple"
              @dropdownEvent="categoryFilter"
              class="pa-3"
            />
            <DropdownFilter
              label="Marque"
              :items="brands"
              icon="mdi-office-building-outline"
              @dropdownEvent="brandFilter"
              class="pa-3"
            />
            <OrderFilter @orderEvent="orderFilter" />
            <v-dialog
              ref="dialog"
              v-model="modal"
              :return-value.sync="date"
              persistent
              width="290px"
              v-if="pageMode === 'stock'"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="date"
                  label="Expire avant le"
                  readonly
                  clearable
                  v-bind="attrs"
                  v-on="on"
                  class="pr-3 pt-4 pl-3"
                  prepend-icon="mdi-calendar"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="modal = false">
                  Cancel
                </v-btn>
                <v-btn text color="primary" @click="$refs.dialog.save(date)"
                  >OK</v-btn
                >
              </v-date-picker>
            </v-dialog>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </template>
    <!-- computers -->
    <template v-else>
      <v-toolbar rounded max-width="1500">
        <DropdownFilter
          label="Rayon"
          :items="sections"
          icon="mdi-bookshelf"
          @dropdownEvent="sectionFilter"
          class="pa-3"
        />
        <DropdownFilter
          label="Categorie"
          :items="categories"
          icon="mdi-bookmark-box-multiple"
          @dropdownEvent="categoryFilter"
          class="pa-3"
        />
        <DropdownFilter
          label="Marque"
          :items="brands"
          icon="mdi-office-building-outline"
          @dropdownEvent="brandFilter"
          class="pa-3"
        />
        <OrderFilter @orderEvent="orderFilter" />

        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="date"
          persistent
          width="290px"
          v-if="pageMode === 'stock'"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="date"
              label="Expire avant le"
              readonly
              clearable
              v-bind="attrs"
              v-on="on"
              class="pr-3 pt-4 pl-3"
              prepend-icon="mdi-calendar"
            ></v-text-field>
          </template>
          <v-date-picker v-model="date" scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="modal = false"> Cancel </v-btn>
            <v-btn text color="primary" @click="expireDateFilter">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-toolbar>
    </template>
  </div>
</template>
<script>
import DropdownFilter from "@/components/filters/DropdownFilter.vue";
import OrderFilter from "@/components/filters/OrderFilter.vue";

export default {
  name: "FilterBar",
  props: {
    label: String,
    items: Array,
    pageMode: String,
    psections: {
      type: Object,
      default: null,
    },
    pcategories: {
      type: Object,
      default: null,
    },
    pbrands: {
      type: Object,
      default: null,
    },
  },
  components: {
    DropdownFilter,
    OrderFilter,
  },
  data: () => {
    return {
      value: "",
      date: null,
      menu: false,
      modal: false,
      mobile: false,
      mySections: null,
      myCateogires: null,
      myBrands: null,
    };
  },

  computed: {
    sections() {
      if (this.psections == null) {
        this.getSections();
        return this.mySections;
      } else {
        var newSections = [];
        for (const elem in this.psections) {
          var section = {
            id: elem,
            name: this.psections[elem].name,
            color: this.psections[elem].color,
          };
          newSections.push(section);
        }
        return newSections;
      }
    },
    categories() {
      if (this.pcategories == null) {
        this.getCategories();
        return this.myCategories;
      } else {
        var newcategories = [];
        for (const elem in this.pcategories) {
          var section = {
            id: elem,
            name: this.pcategories[elem].name,
            color: this.pcategories[elem].color,
          };
          newcategories.push(section);
        }
        return newcategories;
      }
    },
    brands() {
      if (this.pbrands == null) {
        this.getBrands();
        return this.myBrands;
      } else {
        var newbrands = [];
        for (const elem in this.pbrands) {
          var section = {
            id: elem,
            name: this.pbrands[elem].name,
            color: this.pbrands[elem].color,
          };
          newbrands.push(section);
        }
        return newbrands;
      }
    },
  },
  methods: {
    getSections() {
      // this.$http
      //   .get("/sections/")
      //   .then((response) => (this.mySections = response.data));
    },
    getCategories() {
      // this.$http
      //   .get("/categories/")
      //   .then((response) => (this.myCategories = response.data));
    },
    getBrands() {
      // this.$http
      //   .get("/brands/")
      //   .then((response) => (this.myBrands = response.data));
    },
    orderFilter(selection) {
      this.$emit("orderFilter", selection);
    },
    sectionFilter(value) {
      this.$emit("sectionFilter", value);
    },
    categoryFilter(value) {
      this.$emit("categoryFilter", value);
    },
    brandFilter(value) {
      this.$emit("brandFilter", value);
    },
    expireDateFilter() {
      this.$refs.dialog.save(this.date);
      this.modal = false;
      this.$emit("expireDateFilter", this.date);
    },
  },
  watch: {
    date: function (val) {
      if (val === null) {
        this.$emit("expireDateFilter", val);
      }
    },
  },
};
</script>

<style>
#stick {
  position: sticky;
  top: 70px !important;
  z-index: 1;
}
</style>
