<template>
  <v-select
    v-model="selection"
    :style="{ width: $vuetify.breakpoint.xs ? '55vh' : '40vh' }"
    label="Trier par"
    multiple
    :items="orders"
    item-text="name"
    item-value="id"
    small-chips
    dense
    v-on:blur="$emit('orderEvent', selection)"
    v-on:click:clear="$emit('orderEvent', [])"
    hide-details
    clearable
    :allow-overflow="false"
    prepend-icon="mdi-sort-alphabetical-ascending"
    :single-line="true"
  >
    <template v-slot:selection="{ item, index }">
      <v-chip
        v-if="index < 2"
        :key="JSON.stringify(item.name)"
        v-bind="item.attrs"
        :input-value="item.selected"
        :disabled="item.disabled"
        @click:close="item.parent.selectItem(item.name)"
        small
      >
        <v-avatar color="#0ca07b" left>
          <span class="white--text">{{
            item.name.slice(0, 1).toUpperCase()
          }}</span>
        </v-avatar>
        {{ item.name }}
      </v-chip>
      <span v-if="index === 2" class="grey--text text-caption">
        (+{{ selection.length - 2 }} autres)
      </span>
    </template>
    <template v-slot:append-item>
      <v-container>
        <v-btn color="secondary" x-small @click="$emit('orderEvent', selection)"
          >Valider</v-btn
        >
      </v-container>
    </template>
  </v-select>
</template>
<script>
export default {
  name: "OrderFilter",

  data: () => {
    return {
      orders: [
        {
          name: "Marque",
          id: "brand__name",
        },
        {
          name: "Nom",
          id: "name",
        },
        {
          name: "Rayon",
          id: "section__name",
        },
        {
          name: "Categorie",
          id: "category__name",
        },
        {
          name: "Quantité",
          id: "default_quantity",
        },
      ],
      // ["Marque", "Nom", "Rayon", "Categorie", "Quantité"],
      selection: [],
    };
  },
};
</script>
