<template>
  <v-card class="mx-auto mb-14" max-width="430" elevation="5">
    <v-row>
      <v-col cols="5">
        <v-avatar class="ma-3" :size="$vuetify.breakpoint.xs ? 90 : 130" tile>
          <v-img v-if="!dispExpire && !bought" :src="item.img_path"></v-img>
          <v-img
            v-else
            :src="item.img_path"
            style="filter: grayscale(90%)"
          ></v-img>
        </v-avatar>
      </v-col>
      <v-col cols="7">
        <v-row>
          <v-card-title class="py-0">{{ item.brand.name }}</v-card-title>
          <v-card-text class="pb-2">
            <div class="my-0 text-caption">{{ item.name }}</div>
          </v-card-text>
          <!-- card front only -->
          <template v-if="!dispExpire">
            <v-card-text class="pl-1 py-1 d-flex">
              <v-chip
                class="mx-1"
                :color="item.section.color"
                :x-small="$vuetify.breakpoint.xs ? true : false"
                :small="$vuetify.breakpoint.xs ? false : true"
                text-color="white"
                >{{ item.section.name }}</v-chip
              >
              <v-chip
                :color="item.category.color"
                :x-small="$vuetify.breakpoint.xs ? true : false"
                :small="$vuetify.breakpoint.xs ? false : true"
                text-color="white"
                >{{ item.category.name }}</v-chip
              >
            </v-card-text>
            <v-card-text v-if="pageMode === 'items' && item.unit" class="py-0">
              <div class="my-0 text-subtitle-2">
                {{ item.default_quantity }} {{ item.unit.name }}
              </div>
            </v-card-text>
            <v-card-text v-if="pageMode === 'shopping_list' || pageMode === 'grocery'" class="py-0">
              <div class="my-0 text-subtitle-2">
                {{ item.default_quantity }} {{ item.unit.name }}
              </div>
            </v-card-text>
          </template>
        </v-row>
        <template v-if="pageMode == 'stock' && !dispExpire">
          <v-row>
            <v-card-actions class="pb-2 mx-1">
              <div
                :style="{
                  visibility: `${
                    item.expirationDate === '1970-01-01' ? 'hidden' : 'visible'
                  }`,
                }"
              >
                <v-icon :color="getExpirationDateColor" class="mr-2">
                  mdi-calendar-clock
                </v-icon>
                {{ formatDate }}
              </div>
            </v-card-actions>
          </v-row>
        </template>
      </v-col>
    </v-row>
    <v-row dense>
      <!-- card front only -->
      <template v-if="!dispExpire">
        <template v-if="pageMode === 'stock'">
          <v-container class="d-flex flex-row justify-space-around">
            <v-card-actions>
              <v-btn x-small icon class="mx-2" @click="quantityMinus">
                <v-icon> mdi-minus </v-icon>
              </v-btn>
              {{ item.quantityStock }}
              <v-btn x-small icon class="mx-2" @click="quantityPlus">
                <v-icon> mdi-plus </v-icon>
              </v-btn>
              <v-card-text v-if="pageMode === 'stock'" class="py-0">
                <template class="my-0 text-subtitle-2">
                  {{ item.quantityTypeStock }}
                </template>
              </v-card-text>
            </v-card-actions>
            <v-card-actions>
              <template
                v-if="pageMode === 'stock' || pageMode === 'shopping_list'"
              >
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-if="pageMode === 'stock'"
                      color="primary"
                      small
                      v-bind="attrs"
                      v-on="on"
                      @click="formToRemoveItemFromStock(item.id)"
                      class="mx-1"
                    >
                      <v-icon> mdi-trash-can</v-icon>
                    </v-btn>
                    <v-btn
                      v-if="pageMode === 'shopping_list'"
                      color="primary"
                      small
                      v-bind="attrs"
                      v-on="on"
                      @click="removeItemFromShoppingList(item.id)"
                      class="mx-1"
                    >
                      <v-icon> mdi-trash-can</v-icon>
                    </v-btn>
                  </template>
                  <span v-if="pageMode === 'stock'">Supprimer du placard</span>
                  <span v-else-if="pageMode === 'shopping_list'"
                    >Supprimer de la liste</span
                  >
                </v-tooltip>
              </template>
            </v-card-actions>
          </v-container>
        </template>
        <template v-else>
          <v-container class="d-flex flex-row justify-space-around">
            <v-card-actions class="pa-1">
              <template v-if="pageMode === 'items'">
                <v-btn x-small icon class="mx-2" @click="quantityMinus">
                  <v-icon> mdi-minus</v-icon>
                </v-btn>
                {{ quantityField }}
                <v-btn x-small icon class="mx-2" @click="quantityPlus">
                  <v-icon> mdi-plus</v-icon>
                </v-btn>
              </template>
              <template
                v-if="pageMode === 'shopping_list' || pageMode === 'grocery'"
              >
                <v-btn x-small icon class="mx-2" @click="quantityMinus">
                  <v-icon> mdi-minus</v-icon>
                </v-btn>
                {{ item.quantityShoppingList }}
                <v-btn x-small icon class="mx-2" @click="quantityPlus">
                  <v-icon> mdi-plus</v-icon>
                </v-btn>
              </template>
            </v-card-actions>
            <v-spacer></v-spacer>
            <v-card-actions v-if="pageMode === 'shopping_list'">
              <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">                    
                    <v-btn      
                      color="primary"
                      small
                      v-bind="attrs"
                      v-on="on"
                      @click="removeItemFromShoppingList(item.id)"
                      class="mx-1"
                    >
                      <v-icon> mdi-trash-can</v-icon>
                    </v-btn>
                  </template>
                  <span>Supprimer de la liste</span>
                </v-tooltip>
            </v-card-actions>
            <v-card-actions class="pa-1">
              <template v-if="pageMode === 'items'">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      small
                      v-bind="attrs"
                      v-on="on"
                      @click="dispExpire = true"
                      class="mx-1"
                    >
                      <v-icon> mdi-fridge </v-icon>
                    </v-btn>
                  </template>
                  <span>Ajouter au placard</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      color="primary"
                      small
                      v-bind="attrs"
                      v-on="on"
                      @click="addItemToShoppingList"
                      class="mx-1"
                    >
                      <v-icon> mdi-cart </v-icon>
                    </v-btn>
                  </template>
                  <span>Ajouter à une liste de courses</span>
                </v-tooltip>
              </template>
            </v-card-actions>
            <v-card-actions
              v-if="pageMode === 'grocery'"
              class="pb-2 mx-1 justify-center"
            >
              <v-tooltip bottom v-if="pageMode === 'grocery'">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    small
                    v-bind="attrs"
                    v-on="on"
                    @click="dispExpire = true"
                    class="mx-1"
                    :disabled="bought"
                  >
                    <v-icon> mdi-cart-check</v-icon>
                  </v-btn>
                </template>
                <span>Valider l'achat</span>
              </v-tooltip>
            </v-card-actions>
          </v-container>
        </template>
      </template>
    </v-row>

    <!-- card back -->
    <template v-if="dispExpire">
      <v-card-title class="pl-4 pb-0 pt-0">Date de péremption :</v-card-title>
      <v-card-actions class="ps-4 pb-0 pt-0">
        <v-menu
          ref="menu"
          class="pb-0 pt-0"
          v-model="menu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              class="pb-0 pt-0"
              v-model="date"
              label="Date"
              prepend-icon="mdi-calendar"
              hide-details
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            no-title
            @input="menu = false"
          ></v-date-picker>
        </v-menu>
      </v-card-actions>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              small
              v-bind="attrs"
              v-on="on"
              @click="addItemToStock"
              class="mx-1"
              :disabled="bought"
            >
              <v-icon> mdi-check</v-icon>
            </v-btn>
          </template>
          <span>Ajouter au placard</span>
        </v-tooltip>
        <v-tooltip v-if="pageMode !== 'grocery'" bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="accent"
              small
              v-bind="attrs"
              v-on="on"
              @click="dispExpire = false"
              class="mx-1"
            >
              <v-icon> mdi-cancel</v-icon>
            </v-btn>
          </template>
          <span>Annuler</span>
        </v-tooltip>
      </v-card-actions>
    </template>
    <!-- snacks -->
    <v-snackbar
      v-model="snackbar.model"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!-- dialogs -->
    <v-dialog v-model="dialogWasted" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h5">Suppression de {{ item.name }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-radio-group
              v-model="formWasted"
              :label="`Est-ce que ${item.name} a été consommé?`"
            >
              <v-radio label="Oui" value="isNotWasted"></v-radio>
              <v-radio label="Non" value="isWasted"></v-radio>
            </v-radio-group>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialogWasted = false">
            Annuler
          </v-btn>
          <v-btn
            color="primary"
            depressed
            @click="removeItemFromStock(formWasted === 'isWasted')"
          >
            Supprimer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
/* eslint-disable max-len */
import { bus } from "@/main";
export default {
  name: "HorizontalItemCard",
  props: ["item", "pageMode", "currentList", "selectedListId"],
  data: () => {
    return {
      quantityField: 1,
      snackbar: {
        model: false,
        timeout: 3000,
        text: "",
        color: "",
      },
      dialogWasted: false,
      formWasted: "isWasted",
      dispExpire: false,
      bought: false,
      date: "",
      menu: false,
    };
  },
  computed: {
    formatDate() {
      var options = { year: "numeric", month: "2-digit", day: "2-digit" };
      return new Date(this.item.expirationDate).toLocaleString(
        "fr-FR",
        options
      );
    },
    getExpirationDateColor() {
      var currentDate = new Date();
      var expirationDateObject = new Date(this.item.expirationDate);
      var diffDate = expirationDateObject - currentDate;
      if (diffDate <= 259200000) {
        return "red accent-4";
      } else if (diffDate <= 604800000) {
        return "amber accent-4";
      } else {
        return "grey darken-1";
      }
    },
  },
  methods: {
    quantityPlus() {
      if (this.pageMode === "stock") {
        this.item.quantityStock += 1;
        this.$http
          .put(`/user_items/${this.item.id}`, {
            quantity: this.item.quantityStock,
            deleted_at: this.item.deletedDate,
            expire_at: this.item.expirationDate,
            wasted: false,
            item_id: this.item.id,
            user_id: this.$store.getters.getUser.id,
          })
          .then(() => {
            this.snackbar.text = `1 ${this.item.quantityTypeStock} de ${this.item.name} a été ajouté.`;
            this.snackbar.model = true;
            this.snackbar.color = "";
          })
          .catch(() => {
            this.snackbar.text = `Erreur : impossible d'ajouter 1 ${this.item.quantityTypeStock} de ${this.item.name}.`;
            this.snackbar.model = true;
            this.snackbar.color = "red";
          });
      } else if (this.pageMode === "items") {
        this.quantityField += 1;
      } else if (
        this.pageMode === "shopping_list" ||
        this.pageMode === "grocery"
      ) {
        this.item.quantityShoppingList += 1;
      }
    },
    quantityMinus() {
      if (this.pageMode === "stock") {
        if (this.item.quantityStock === 1) {
          this.formToRemoveItemFromStock();
        } else {
          this.item.quantityStock -= 1;
          this.$http
            .put(`/user_items/${this.item.id}`, {
              quantity: this.item.quantityStock,
              deleted_at: this.item.deletedDate,
              expire_at: this.item.expirationDate,
              wasted: false,
              item_id: this.item.id,
              user_id: this.$store.getters.getUser.id,
            })
            .then(() => {
              this.snackbar.text = `1 ${this.item.quantityTypeStock} de ${this.item.name} a été retiré.`;
              this.snackbar.model = true;
              this.snackbar.color = "";
            })
            .catch(() => {
              this.snackbar.text = `Erreur : impossible de supprimer 1 ${this.item.quantityTypeStock} de ${this.item.name}.`;
              this.snackbar.model = true;
              this.snackbar.color = "red";
            });
        }
      } else if (this.pageMode === "items") {
        if (this.quantityField > 1) {
          this.quantityField -= 1;
        }
      } else if (
        this.pageMode === "shopping_list" ||
        this.pageMode === "grocery"
      ) {
        if (this.item.quantityShoppingList > 1) {
          this.item.quantityShoppingList -= 1;
        }
      }
    },
    addItemToShoppingList() {
      console.log(this.currentList);
      if (!this.currentList) {
        this.snackbar.text = `Erreur : aucune liste sélectionnée.`;
        this.snackbar.model = true;
        this.snackbar.color = "red";
      } else {
        this.$http
          .post("/shopping_items/", {
            quantity: this.quantityField,
            check: false,
            created_at: "1970-01-01",
            item_id: this.item.id,
            shopping_list_id: this.currentList,
          })
          .then(() => {
            this.snackbar.text = `${this.quantityField} ${this.item.name} a été ajouté dans la liste.`;
            this.snackbar.model = true;
            this.snackbar.color = "";
            this.quantityField = 1;
          });
      }
    },
    addItemToStock() {
      if (this.pageMode == "items") this.dispExpire = false;
      else if (this.pageMode == "grocery") this.bought = true;

      if (this.item.quantityShoppingList !== undefined)
        this.quantityField = this.item.quantityShoppingList;
      if (this.date != "") {
        this.item.expire_at = this.date;
      } else {
        this.item.expire_at = "1970-01-01";
      }
      this.$http
        .post("/user_items/", {
          quantity: this.quantityField * this.item.default_quantity,
          expire_at: this.item.expire_at,
          deleted_at: "1970-01-01",
          wasted: false,
          item_id: this.item.id,
          user_id: this.$store.getters.getUser.id,
        })
        .then(() => {
          this.snackbar.text = `${this.quantityField} ${this.item.name} a été ajouté au placard.`;
          this.snackbar.model = true;
          this.snackbar.color = "";
          this.quantityField = 1;
        })
        .catch(() => {
          this.snackbar.text = `Erreur : impossible d'ajouter ${this.quantityField} ${this.item.name} au placard.`;
          this.snackbar.model = true;
          this.snackbar.color = "red";
        });
      this.date = "";
    },
    formToRemoveItemFromStock() {
      if (this.item.expirationDate === "1970-01-01")
        this.removeItemFromStock(false);
      else {
        let currentDate = new Date();
        currentDate = currentDate.setHours(0, 0, 0, 0);
        let expirationDate = new Date(this.item.expirationDate);
        expirationDate = expirationDate.setHours(0, 0, 0, 0);
        if (expirationDate - currentDate < 0) this.dialogWasted = true;
        else this.removeItemFromStock(false);
      }
    },
    removeItemFromStock(isWasted) {
      if (isWasted) this.dialogWasted = false;
      const currentDate = new Date();
      const formatDate = `${currentDate.getFullYear()}-${
        currentDate.getMonth() + 1
      }-${currentDate.getDate()}`;
      this.$http
        .put(`/user_items/${this.item.id}`, {
          quantity: this.item.quantityStock,
          deleted_at: formatDate,
          expire_at: this.item.expirationDate,
          wasted: isWasted,
          item_id: this.item.id,
          user_id: this.$store.getters.getUser.id,
        })
        .then(() => {
          this.$emit("refresh");
        })
        .catch(() => {
          this.snackbar.text = `Erreur : impossible de supprimer ${this.item.name} du stock.`;
          this.snackbar.model = true;
          this.snackbar.color = "red";
        });
    },
    removeItemFromShoppingList(itemId) {
      this.$http
        .delete("/shopping_items/" + itemId)
        .then((response) => {
          if (response.status === 200) {
            bus.$emit("syncShoppingItems");
          }
        })
        .catch((error) => {
          if (error.response) {
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            console.log(error.request);
          } else {
            console.log("Error", error.message);
          }
          console.log(error.config);
        });
    },
  },
};
</script>
