<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Modifier mon mot de passe</v-toolbar-title>
          </v-toolbar>
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit="changePassword"
          >
            <v-alert type="error" v-if="errors.length" class="ma-2">
              Problème dans la modification :
              <ul>
                <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
              </ul>
            </v-alert>
            <v-card-text>
              <v-text-field
                v-model="oldPassword"
                :rules="[rules.required]"
                prepend-icon="mdi-lock-alert"
                label="Votre mot de passe actuel"
                type="password"
                outlined
                required
              ></v-text-field>
              <v-text-field
                v-model="newPassword"
                :rules="[rules.required]"
                prepend-icon="mdi-lock"
                label="Nouveau mot de passe"
                type="password"
                outlined
                required
              ></v-text-field>
              <v-text-field
                v-model="newPasswordConfirm"
                :rules="[rules.required]"
                prepend-icon="mdi-lock-check"
                label="Confirmation du mot de passe"
                type="password"
                outlined
                required
              ></v-text-field>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn
                x-large
                color="primary"
                :disabled="!valid"
                :loading="loading"
                type="submit"
                >Enregistrer
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "AccountChangePasswordView",
  data() {
    return {
      oldPassword: "",
      newPassword: "",
      newPasswordConfirm: "",
      rules: { required: (value) => !!value || "Requis" },
      loading: false,
      errors: [],
    };
  },
  methods: {
    async changePassword() {
      this.errors = [];
      this.loading = true;

      if (this.newPassword === this.newPasswordConfirm) {
        try {
          let response = await this.$http.put("/users/my/password", {
            old_password: this.oldPassword,
            new_password: this.newPassword,
          });

          if (response != undefined) {
            this.$store.dispatch("logout").then(() => {
              this.$router.push("/account/login");
            });
          } else {
            await this.errors.push("Erreur dans le mot de passe !");
          }
        } catch (error) {
          if (error.response) await this.errors.push("Mauvais mot de passe !");
        }
      } else {
        await this.errors.push("Les mots de passes ne sont pas identique !");
      }
      this.loading = false;
    },
  },
};
</script>
